<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>GadQydConfig</param-name>
		<param-value>N</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/config/spring/*.xml,/WEB-INF/classes/config/xfire/*.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>config/i18n/messages_zh_CN</param-value>
	</context-param>
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>
			com.aisino2.common.SetCharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>czrzFilter</filter-name>
		<filter-class>com.aisino2.core.dao.CzrzFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
	</filter>
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ActionContextCleanUp
		</filter-class>
	</filter>


	<!--<filter>
         <filter-name>OpenSessionInViewFilter</filter-name>
         <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
 	</filter>
	<filter-mapping>
         <filter-name>OpenSessionInViewFilter</filter-name>
         <url-pattern>/*</url-pattern>
 	</filter-mapping>-->
 
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.aisino2.core.web.AuthFilter</filter-class>
		<init-param>
			<param-name>loginURL</param-name>
			<param-value>/login.jsp?sessionout=yes</param-value>
		</init-param>
		<init-param>
			<param-name>authClass</param-name>
			<param-value>
				com.aisino2.sysadmin.authorization.impl.AuthorizationImpl
			</param-value>
		</init-param>
		<init-param>
			<param-name>checkAuth</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>noFilterURL</param-name>
			<param-value>
				check-ca.jsp,login.jsp,login.do,login1.jsp,login.html,loginsystem.jsp,public/kongJianCreatSession.jsp,login-baojing.jsp,login-bj.jsp,index-baojing.jsp,public/printHtmlClient.jsp,public/printHtml.jsp,public/printXbj.jsp,loginNoRefresh.jsp,login-ca.jsp,login-ca1.jsp,login-skhdZddl.jsp,temp-skhdZddl.jsp,unload.jsp
			</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>cacheFilter</filter-name>
		<filter-class>com.aisino2.cache.CacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>czrzFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>czrzFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>

		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cacheFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.aisino2.sysadmin.common.OnlineUserListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>xfire</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/classes/config/xfire/*.xml
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>xfire</servlet-name>
		<url-pattern>*.ws</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/public/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/public/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/public/403.jsp</location>
	</error-page>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-menu</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-menu.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-menu-el</taglib-uri>
		<taglib-location>
			/WEB-INF/tld/struts-menu-el.tld
		</taglib-location>
	</taglib>
</web-app>

