UL.jd_menu_jdsharp {
	MARGIN-LEFT: 20px; HEIGHT: 21px;
}
UL.jd_menu_jdsharp LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}


UL.jd_menu_jdsharp A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-SIZE: 14px; font-family: Geneva, Arial, Helvetica, sans-serif; PADDING-BOTTOM: 4px; CURSOR: pointer; COLOR: #000087;  PADDING-TOP: 6px;  WHITE-SPACE: nowrap; TEXT-DECORATION: none
}

UL.jd_menu_jdsharp A.jd_menu_hover_menubar {
	 PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(../images/site-menu-hover3.png) repeat-x;   COLOR: #806c00
}

UL.jd_menu_jdsharp A.jd_menu_visited_menubar {
	 PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(../images/site-menu-hover3.png) repeat-x;  COLOR: #806c00
}


UL.jd_menu_jdsharp UL {
	BORDER: #ffb281 1px solid; border-top:0px; min-width:80px;  text-align:left; BACKGROUND: #ffcfce;
}
UL.jd_menu_jdsharp UL LI {
	BORDER-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px;FONT-SIZE: 12px;font-weight:normal; COLOR: #ffcfce; 
}
UL.jd_menu_jdsharp UL LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px; DISPLAY: block;  MARGIN: 0px; COLOR: #806c00;FONT-SIZE: 12px; font-weight:normal;
}
UL.jd_menu_jdsharp UL LI A.jd_menu_hover { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px;background-color:#fe8268; TEXT-DECORATION: underline
}
