.mypagination{
	height:35px;
	border:0px;
	background-image:url(../images/page-bg1.gif);
	background-repeat:repeat-x;
	height:26px;
	color: #084c6c;
}
.mypagination span{
	font-size:12px;
	align:left;
	word-break:keep-all;
}
.page-first,.page-prev,.page-next,.page-last,.page-wait{
	padding:2px;
	border:0;
}
.page-num{
	width:30px;
	border:1px solid #ccc;
	height:12px;
	font-size:10px;
}
