.row{
 	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: auto; 
	margin-right: auto;
 }
 .column{
 	overflow: hidden;
 	margin: 0;
 	padding: 0;
 	float: left;
 	display: block;
 }
 
 .clear-column{
 	margin: 0;
 	padding: 0;
 	height:0;
 	overflow: hidden;
 	clear: left; 
 	line-height: 0;
 }
 
 .clear-row{
 	margin: 0;
 	height: 0;
 	overflow: hidden;
 	clear: both;
 }
 
 .label{
 	width:120px;
 	text-align: right;
 	display: block;
 	float: left;
 }
 
 .item{
 	margin-left: 5px;
 	float: left;
 }
 
 .date{
 	width: 100px;
 }
 
 #footerCt{
 	position:relative;
	padding:2px 2px 2px 2px;
	color:#3366cc;
	background-color: #deebfe;
	border-color:#c9c9c9;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
		
 }
 
 .btnCls{
 	width: 80px;
 }
 
 .bnbody {
	padding-bottom:5px;
 	padding-top:5px;
 	padding-left:5px;
 	padding-right:5px;
 	overflow: hidden;
 	background-color: #edf1f7;
 }
 
 .big-row {
	height: 90px;
}

.column-block {
	width: 400px !important;
}

.column-block2 {
	width: 200px !important;
	line-height: 16px;
}

.column-250 {
	width: 250px !important;
}
.label-60{
	width: 60px !important;
}
.label-80 {
	width: 80px !important;
}
.label-100{
	width: 100px !important;
}

.blue {
	color: blue;
}

.ro {
	 background-color:#f6f6f6; blueidea:expression(this.readOnly=true); width:150px; font-size:12px;  height:14px; border-bottom:solid #CCCCCC 1px; border-top:solid #CCCCCC 1px; border-left:solid #CCCCCC 1px; border-right:solid #CCCCCC 1px;
}

.column-width-default {
	width: 300px;
}