UL.jd_menu_jdsharp {
	MARGIN-LEFT: 20px;HEIGHT: 28px;
}
UL.jd_menu_jdsharp LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
a:active {outline: none;star:expression(this.onFocus=this.blur());}

UL.jd_menu_jdsharp A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; padding-top:9px; PADDING-BOTTOM: 2px; FONT-SIZE: 12px;  font-family: sans-serif; CURSOR: pointer; COLOR: #000000;    WHITE-SPACE: nowrap; TEXT-DECORATION: none;
}

UL.jd_menu_jdsharp A.jd_menu_hover_menubar {
 PADDING-RIGHT: 5px; PADDING-LEFT: 5px;padding-top:9px;BACKGROUND: url(../images/site-menu-hover1.png) repeat-x;  background-position:top; COLOR: #276687; border:solid #3e8db4 1px; border-bottom:0px;
}

UL.jd_menu_jdsharp A.jd_menu_visited_menubar {
PADDING-RIGHT: 5px; PADDING-LEFT: 5px;padding-top:9px;BACKGROUND: url(../images/site-menu-hover1.png) repeat-x; background-position:top; COLOR: #276687; border:solid #3e8db4 1px;border-bottom:0px;
}

UL.jd_menu_jdsharp UL {
	BORDER: #3e8db4 1px solid; border-top:0px; min-width:80px;  text-align:left; BACKGROUND: #deeaf1;
}
UL.jd_menu_jdsharp UL LI {
	BORDER-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px;FONT-SIZE: 12px;font-weight:normal; COLOR: #2b607d; 
}
UL.jd_menu_jdsharp UL LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px; DISPLAY: block;  MARGIN: 0px; COLOR: #2b607d;FONT-SIZE: 12px; font-weight:normal;
}
UL.jd_menu_jdsharp UL LI A.jd_menu_hover { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px;background-color:#b1daf0; TEXT-DECORATION: underline
}
