@charset "utf-8";
/* CSS Document */
.STYLE1 {font-size: 12px; line-height:1.8}
.STYLE2 {font-family: Arial, Helvetica, sans-serif; font-size:8pt; }
.STYLE3 {font-family: "微软雅黑"; font-size:5.5pt; color:#8cc63f }
.STYLE4 {font-family: "微软雅黑"; font-size:6pt; color:#8cc63f}
.STYLE6 {font-size: 10pt; font-family: Arial, Helvetica, sans-serif color: #FFFFFF; }
.STYLE7 {font-family: "微软雅黑"; font-size:7pt;}
#apDiv1 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:1;
	left: 39px;
	top: 112px;
}
#apDiv2 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:5;
	left: 395px;
	top: 112px;
}
#apDiv3 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:2;
	left: 39px;
	top: 339px;
}
#apDiv4 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:6;
	left: 395px;
	top: 339px;
}
#apDiv5 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:3;
	left: 39px;
	top: 566px;
}
#apDiv6 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:1;
	left: 395px;
	top: 566px;
}
#apDiv7 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:4;
	left: 39px;
	top: 793px;
}
#apDiv8 {
	position:absolute;
	width:338px;
	height:200px;
	z-index:2;
	left: 395px;
	top: 793px;
}
#apDivfont1 {
    font-size:12px;
	position:absolute;
	width:338px;
	height:10px;
	z-index:4;
	left: 39px;
	top: 1023px;
}
#apDivfont3 {
    font-size:12px;
    float:left;
	position:absolute;
	width:338px;
	height:10px;
	z-index:4;
	left: 219px;
	top: 1023px;
}
#apDiv9 {	position:absolute;
	width:338px;
	height:200px;
	z-index:1;
	left: 856px;
	top: 112px;
}
#apDiv10 {	position:absolute;
	width:338px;
	height:200px;
	z-index:5;
	left: 1213px;
	top: 112px;
}
#apDiv11 {	position:absolute;
	width:338px;
	height:200px;
	z-index:2;
	left: 856px;
	top: 339px;
}
#apDiv12 {	position:absolute;
	width:338px;
	height:200px;
	z-index:6;
	left: 1213px;
	top: 339px;
}
#apDiv13 {	position:absolute;
	width:338px;
	height:200px;
	z-index:3;
	left: 856px;
	top: 566px;
}
#apDiv14 {	position:absolute;
	width:338px;
	height:200px;
	z-index:1;
	left: 1213px;
	top: 566px;
}
#apDiv15 {	position:absolute;
	width:338px;
	height:200px;
	z-index:4;
	left: 856px;
	top: 793px;
}
#apDiv16 {	position:absolute;
	width:338px;
	height:200px;
	z-index:2;
	left: 1213px;
	top: 793px;
}
#apDivfont2 { 
    font-size:12px;
	position:absolute;
	width:338px;
	height:10px;
	z-index:4;
	left: 856px;
	top: 1023px;
}
#apDivfont4 {
    font-size:12px;
    float:left;
	position:absolute;
	width:338px;
	height:10px;
	z-index:4;
	left: 1036px;
	top: 1023px;
}
-->

