BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "Frutiger", "Univers", "Helvetica Neue", arial, helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
/*
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A.ext {
	PADDING-RIGHT: 12px; BACKGROUND: url(../images/site-external-link.png) no-repeat right top
}
SPAN.highlight {
	FONT-WEIGHT: bold; COLOR: #6699cc
}
H1 {
	FONT-SIZE: 1.83em
}
H2 {
	FONT-SIZE: 1.58em
}
H3 {
	FONT-SIZE: 1.41em
}
H4 {
	FONT-SIZE: 1.25em
}
H1 {
	MARGIN: 0px 0px 1em; LINE-HEIGHT: 1em
}
H2 {
	MARGIN: 0px 0px 1em; LINE-HEIGHT: 1em
}
H3 {
	MARGIN: 0px 0px 1em; LINE-HEIGHT: 1em
}
H4 {
	MARGIN: 0px 0px 1em; LINE-HEIGHT: 1em
}
H1 {
	FONT-WEIGHT: normal; COLOR: #3366cc
}

H4 {
	COLOR: #303030
}
P {
	FONT-SIZE: 1.16em; MARGIN: 0px 0px 1.5em; LINE-HEIGHT: 1.5em
}
DIV.abstract {
	MARGIN: -1em 0em 2em
}
DIV.abstract P {
	FONT-SIZE: 0.91em; COLOR: #808080; LINE-HEIGHT: 1.36em
}
SPAN.code {
	FONT-SIZE: 0.91em; COLOR: #009900; FONT-FAMILY: monospace
}
CODE {
	BORDER-RIGHT: #b4b4b4 1px dashed; PADDING-RIGHT: 8px; BORDER-TOP: #b4b4b4 1px dashed; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 0.91em; OVERFLOW-X: auto; PADDING-BOTTOM: 8px; MARGIN: 1.5em 0px; BORDER-LEFT: #b4b4b4 1px dashed; WIDTH: 95%; LINE-HEIGHT: 1.36em; PADDING-TOP: 8px; BORDER-BOTTOM: #b4b4b4 1px dashed; FONT-FAMILY: monospace; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ececec
}
* HTML CODE {
	PADDING-BOTTOM: 20px
}

TABLE {
	BORDER-RIGHT: #b4c4ff 1px solid; BORDER-TOP: #b4c4ff 0px solid; MARGIN-BOTTOM: 1.5em; BORDER-LEFT: #b4c4ff 1px solid; BORDER-BOTTOM: #b4c4ff 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #e2e2e2; border-spacing: 0px
}
TH {
	BORDER-RIGHT: #b4c4ff 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #b4c4ff 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 0.91em; BACKGROUND: url(../images/site-gradient.png) repeat-x; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #b4c4ff 0px solid; COLOR: #303030; PADDING-TOP: 1px; BORDER-BOTTOM: #b4c4ff 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 0.91em; PADDING-BOTTOM: 2px; MARGIN: 0px; VERTICAL-ALIGN: top; COLOR: #7c8491; PADDING-TOP: 2px; BORDER-BOTTOM: #c9c9c9 1px solid; BACKGROUND-COLOR: #fff
}
TR.header TD {
	COLOR: #454545; BACKGROUND-COLOR: #ececff
}
TR.header TD.release {
	COLOR: #3366cc
}
TD.release {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap
}
TD.file {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap
}
TD IMG.icn {
	MARGIN-BOTTOM: -1px
}
TD A {
	COLOR: #0a0; TEXT-DECORATION: none
}
TD A:hover {
	TEXT-DECORATION: underline
}
TR.alt TD {
	BACKGROUND-COLOR: #e0e4ff
}
TH.rgt {
	TEXT-ALIGN: right
}
TD.rgt {
	TEXT-ALIGN: right
}
TH.cnt {
	TEXT-ALIGN: center
}
TD.cnt {
	TEXT-ALIGN: center
}*/
/*logo+nav的图片路径*/
#header {
	 background-image:url(../images/logo.jpg);
	 background-repeat:no-repeat; 
	 width:1020px; 
	 HEIGHT: 129px;
	 }
/*logo的高度----通过这个值定义菜单的位置*/
#logo {
	HEIGHT: 75px
}
.navline{background-image:url(../images/navline1.gif); width:1px; height:24px; background-repeat:no-repeat; padding-top:0px;}
#jdsharp {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 12px 0px 0px 24px; PADDING-TOP: 0px
}

#contentWrap {
	MARGIN-LEFT: 25px; WIDTH: 1050px; PADDING-TOP: 5px
}
#content {
	PADDING-BOTTOM: 100px; WIDTH: 750px
}
#sidebar {
	FLOAT: right; MARGIN: 0px; WIDTH: 280px
}
#sidebar DIV.content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#sidebar P {
	PADDING-LEFT: 5px; FONT-SIZE: 0.91em; MARGIN: 0px 0px 1em; COLOR: #b0b0b0; LINE-HEIGHT: 1.5em
}
#sidebar A {
	COLOR: #909090; TEXT-DECORATION: none
}
#sidebar A:hover {
	COLOR: #3366cc; TEXT-DECORATION: underline
}
#sidebar H1 {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 0.5em; TEXT-TRANSFORM: uppercase; COLOR: #3366cc; LINE-HEIGHT: 1em
}
#sidebar H2 {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 0.5em; TEXT-TRANSFORM: uppercase; COLOR: #3366cc; LINE-HEIGHT: 1em
}
#sidebar H1 {
	FONT-SIZE: 1em
}
#sidebar H2 {
	FONT-SIZE: 0.91em; MARGIN-BOTTOM: 0.75em
}
#about {
	BORDER-RIGHT: #b4c4ff 0px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b4c4ff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/site-gradient.png) repeat-x; PADDING-BOTTOM: 5px; BORDER-LEFT: #b4c4ff 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b4c4ff 0px solid
}
UL.gallery {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.gallery LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 0.83em; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 109px; LINE-HEIGHT: 1em; PADDING-TOP: 8px; HEIGHT: 119px; TEXT-ALIGN: center
}
UL.gallery LI IMG {
	BORDER-RIGHT: #757575 1px solid; BORDER-TOP: #757575 1px solid; BORDER-LEFT: #757575 1px solid; BORDER-BOTTOM: #757575 1px solid
}
UL.gallery LI A {
	COLOR: #757575; TEXT-DECORATION: none
}
UL.gallery LI A:hover {
	COLOR: #6699ff
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	DISPLAY: inline-block
}
.clearfix {
	DISPLAY: block
}
* HTML .clearfix {
	HEIGHT: 1px
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
#antiFooter {
	MIN-HEIGHT: 100%
}
* HTML #antiFooter {
	HEIGHT: 100%
}
#footer {
	BORDER-TOP: #c9c9c9 1px solid; MARGIN-TOP: -45px; FONT-SIZE: 10px; BACKGROUND: url(../images/site-gradient.png) repeat-x; COLOR: #3366cc; PADDING-TOP: 3px; POSITION: relative; HEIGHT: 42px
}
#footer DIV.copy {
	MARGIN-LEFT: 24px; MARGIN-RIGHT: 24px
}
#footer DIV.copy DIV.right {
	FLOAT: right
}
#footer A {
	TEXT-DECORATION: none
}
#footer A:hover {
	TEXT-DECORATION: underline
}