<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-2.5.xsd
	 http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	

<!-- 	<bean id="dataSourceOracle" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="oracle.jdbc.OracleDriver"> -->
<!-- 		</property> -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1522:TECHSUPPORTDB"> -->
<!-- 		</property> -->
<!-- 		<property name="username" value="techsupport"></property> -->
<!-- 		<property name="password" value="techsupport"></property> -->
<!-- 	</bean> -->
	<!--<bean id="dataSourceOracle" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://216.227.211.75:3306/boangs0_fox">
		</property>
		<property name="username" value="boangs0_fox"></property>
		<property name="password" value="dark_fox"></property>
	</bean>-->
<!-- 	class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" -->
<!-- class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" -->
	<bean id="sessionFactory"
		 class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		abstract="false">
		<property name="configLocation">
			<value>classpath:jbpm.hibernate.cfg.xml</value>
		</property>
<!-- 		<property name="hibernateProperties"> -->
<!-- 			<props> -->
<!-- 				<prop key="hibernate.dialect"> -->
<!-- 					org.hibernate.dialect.Oracle10gDialect -->
<!-- 				</prop> -->
<!-- 				<prop key="hibernate.show_sql"> -->
<!-- 					true -->
<!-- 				</prop> -->
<!-- 				<prop key="hibernate.format_sql"> -->
<!-- 					true -->
<!-- 				</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
		<property name="mappingLocations">
			<list>
				<value>classpath:com/aisino2/sysadmin/domain/*.hbm.xml</value>
			</list>
		</property>
<!-- 		<property name="mappingResources"> -->
<!-- 			<list> -->
<!-- 				<value>jbpm.repository.hbm.xml</value> -->
<!-- 				<value>jbpm.execution.hbm.xml</value> -->
<!-- 				<value>jbpm.history.hbm.xml</value> -->
<!-- 				<value>jbpm.task.hbm.xml</value> -->
<!-- 				<value>jbpm.identity.hbm.xml</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 		<property name="packagesToScan"> -->
<!-- 			<list> -->
<!-- 				<value>com.aisino2.sysadmin.domain</value> -->
<!-- 				<value>com.aisino2.techsupport.domain</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
	</bean>
	<context:annotation-config></context:annotation-config> 
	<context:component-scan base-package="com.aisino2"></context:component-scan>
	
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	 		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 <tx:annotation-driven transaction-manager="txManager"/>
</beans>