<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	

	<bean id="dataSourceMysql" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/protest">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="zcf123"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourceMysql" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/entries/ulp/InfoMenu.hbm.xml</value>
				<value>com/entries/ulp/InfoOper.hbm.xml</value>
				<value>com/entries/ulp/InfoConfig.hbm.xml</value>
				<value>com/entries/ulp/InfoSysModule.hbm.xml</value>
				<value>com/entries/ulp/InfoRole.hbm.xml</value>
				<value>com/entries/ulp/RuleRoleFunc.hbm.xml</value>
				<value>com/entries/ulp/RuleOperRole.hbm.xml</value>
				<value>com/ems/entity/InfoPage.hbm.xml</value>
				<value>com/ems/entity/InfoPageResource.hbm.xml</value>
				<value>com/ems/entity/CodeComponent.hbm.xml</value>
				<value>
					com/ems/entity/ComponentResourceCode.hbm.xml
				</value>
				<value>com/data/entity/InfoEngine.hbm.xml</value>
				<value>com/data/entity/RuleDataDevice.hbm.xml</value>
				<value>com/data/entity/EngineParameter.hbm.xml</value>
				<value>com/data/entity/RuleEngineData.hbm.xml</value>
				<value>com/ems/entity/RealTimeData.hbm.xml</value>
			</list>
		</property>
	</bean>
	<context:annotation-config></context:annotation-config> 
	<context:component-scan base-package="com.busi.*,com.ulp.*,*.*.dao,com.entries.ulp,
	com.ulp.dao.impl,com.ems.dao.impl"></context:component-scan>


</beans>