
@media Screen, Projection    
{
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #999; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 300 100.01%/1.5 "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center; text-rendering: optimizeLegibility
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
abbr {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
ACRONYM {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 0px; HEIGHT: 130px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 500; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 140px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 140px; text-rendering: optimizeLegibility
}
H1 SPAN {
	LEFT: 30px; WIDTH: 100px; BOTTOM: 25px; POSITION: absolute; HEIGHT: 100px
}
H2 {
	FONT-WEIGHT: 300; text-rendering: optimizeLegibility
}
H3 {
	FONT-WEIGHT: 300; text-rendering: optimizeLegibility
}
H4 {
	FONT-WEIGHT: 300; text-rendering: optimizeLegibility
}
#content {
	PADDING-RIGHT: 32px; PADDING-LEFT: 32px; BACKGROUND: #eee; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 896px; COLOR: #333; PADDING-TOP: 0.5em; POSITION: relative; TEXT-ALIGN: left
}
#top {
	DISPLAY: none; LEFT: 0px; WIDTH: 960px; POSITION: absolute; TOP: 0px; HEIGHT: 20px
}
#content #footer {
	CLEAR: both; BACKGROUND: #ccc; MARGIN: 0px -2em; ZOOM: 1; POSITION: relative
}
#footer H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 30px; PADDING-TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center
}
H2 {
	PADDING-LEFT: 52px; FONT-SIZE: 1.4em; MARGIN: 1em 0px 0px; LINE-HEIGHT: 1.85; ZOOM: 1; POSITION: relative
}
H4 {
	FONT-SIZE: 1.3em; text-rendering: optimizeLegibility
}
#reference H2 {
	PADDING-LEFT: 0px
}
H2 SPAN {
	LEFT: 5px; MARGIN: -16px 0px 0px; WIDTH: 32px; LINE-HEIGHT: 0; POSITION: absolute; TOP: 50%; HEIGHT: 32px
}
#download H2 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; moz-border-radius: 4px; webkit-border-radius: 4px
}
P {
	MARGIN: 0px
}
P.not-prime {
	TEXT-INDENT: 1.4em
}
P.code {
	COLOR: #0b094b; FONT-FAMILY: Consolas,Monaco,"Lucida Console",monospace
}
CODE {
	COLOR: #0b094b; FONT-FAMILY: Consolas,Monaco,"Lucida Console",monospace
}
SAMP {
	COLOR: #0b094b; FONT-FAMILY: Consolas,Monaco,"Lucida Console",monospace
}
CODE SPAN {
	COLOR: #690
}
.hidden {
	DISPLAY: none; VISIBILITY: hidden
}
A {
	COLOR: #1456a5; TEXT-DECORATION: none
}
A  {
	COLOR: #1456a5; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000; text-shadow: 0 0 3px #1456a5
}
A:hover  {
	COLOR: #000; text-shadow: 0 0 3px #1456a5
}
CODE A {
	COLOR: #17e1ac
}
SAMP A {
	COLOR: #17e1ac
}
SUP {
	COLOR: #aaa
}
WBR {
	DISPLAY: inline-block
}
ADDRESS {
	FONT-STYLE: normal
}
ADDRESS IMG {
	FLOAT: left; MARGIN: 0px 10px 0px 0px; WIDTH: 8.36em; HEIGHT: 8.36em
}
STRONG.very {
	COLOR: #f00
}
PRE.code CODE {
	COLOR: #fff
}
PRE.code {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BACKGROUND: #000; OVERFLOW-X: auto; PADDING-BOTTOM: 1em; MARGIN-LEFT: -2.5em; COLOR: #fff; PADDING-TOP: 1em; webkit-border-top-right-radius: 1em; webkit-border-bottom-right-radius: 1em; moz-border-radius-topright: 1em; moz-border-radius-bottomright: 1em; border-top-right-radius: 1em; border-bottom-right-radius: 1em
}
PRE.javascript CODE B {
	FONT-WEIGHT: normal; COLOR: #e9df8f
}
PRE.javascript CODE I {
	COLOR: #8b9967; FONT-STYLE: normal
}
PRE.javascript CODE I  {
	COLOR: #8b9967; FONT-STYLE: normal
}
PRE.javascript CODE I .d {
	COLOR: #8b9967; FONT-STYLE: normal
}
PRE.javascript CODE .s {
	COLOR: #e7be61
}
PRE.javascript CODE .d {
	COLOR: #cf6a4c
}
PRE.javascript CODE .c {
	COLOR: #666
}
PRE.javascript CODE .c  {
	COLOR: #666
}
EM.amp {
	FONT-STYLE: italic; FONT-FAMILY: Baskerville,"Goudy Old Style",Palatino,"Book Antiqua",serif
}
#column-1 DIV.sample {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(blueprint-min.png) #2c53b0 no-repeat; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: -5em 1em 1em; WIDTH: 99px; PADDING-TOP: 10px; HEIGHT: 99px
}
#demos {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#demos LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px 0px; PADDING-TOP: 0px; moz-border-radius: 5px; webkit-border-radius: 5px
}
#demos LI A {
	FLOAT: left; WIDTH: 100px; TEXT-INDENT: -9999em; HEIGHT: 100px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#column-1 H3 {
	FONT-WEIGHT: 100; FONT-SIZE: 2em
}
#contents UL {
	OVERFLOW: hidden
}
#content #column-1 {
	FLOAT: left; MARGIN: 0px; WIDTH: 62%
}
#content #column-2 {
	FLOAT: left; MARGIN: 0px; WIDTH: 38%
}
#aside {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#aside LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
#aside LI P {
	MARGIN-LEFT: 52px
}
#aside LI H2 {
	MARGIN-TOP: 0px
}
#aside #download H2 {
	MARGIN-TOP: 1em
}
#quotes {
	DISPLAY: none
}
#reference EM {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px; FONT-STYLE: normal
}
#quotes OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 52px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#quotes OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0px
}
#quotes OL LI IMG {
	FLOAT: left; MARGIN: 5px 5px 0px -21px
}
#attr-stroke-dasharray SAMP {
	WHITE-SPACE: nowrap
}
UL#demos LI {
	BACKGROUND: url(images/demos.jpg) no-repeat 0px 0px
}
#demos #reflection {
	BACKGROUND-POSITION: -100px 0px
}
#demos #rotation1 {
	BACKGROUND-POSITION: -200px 0px
}
#demos #rotation2 {
	BACKGROUND-POSITION: -300px 0px
}
#demos #impact {
	BACKGROUND-POSITION: -400px 0px
}
#demos #punch {
	BACKGROUND-POSITION: 0px -100px
}
#demos #pie {
	BACKGROUND-POSITION: -100px -100px
}
#demos #analytics {
	BACKGROUND-POSITION: -200px -100px
}
#demos #polar {
	BACKGROUND-POSITION: -300px -100px
}
#demos #spin {
	BACKGROUND-POSITION: -400px -100px
}
#demos #australia {
	BACKGROUND-POSITION: 0px -200px
}
#demos #helvetica {
	BACKGROUND-POSITION: -100px -200px
}
#demos #chart {
	BACKGROUND-POSITION: -200px -200px
}
#demos #animation {
	BACKGROUND-POSITION: -300px -200px
}
#demos #hand {
	BACKGROUND-POSITION: 0px -300px
}
#demos #ichart {
	BACKGROUND-POSITION: -100px -300px
}
#demos #graffle {
	BACKGROUND-POSITION: -200px -300px
}
#demos #fonts {
	BACKGROUND-POSITION: -300px -300px
}
#demos #easing {
	BACKGROUND-POSITION: -400px -300px
}
#demos #ball {
	BACKGROUND-POSITION: 0px -400px
}
#demos #tiger {
	BACKGROUND-POSITION: -400px -200px
}
#demos #curver {
	BACKGROUND-POSITION: -100px -400px
}
#demos #gear {
	BACKGROUND-POSITION: -200px -400px
}
#demos #scape {
	BACKGROUND-POSITION: -300px -400px
}
#demos #picker {
	BACKGROUND-POSITION: -400px -400px
}
#demos #growing-pie {
	BACKGROUND-POSITION: 0px -500px
}
#demos #bounce {
	BACKGROUND-POSITION: -100px -500px
}

}

@media Print    
{
BODY {
	BACKGROUND: #fff; MARGIN: 3em 2em 6em 4em; FONT: 300 100.01% "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif; COLOR: #000; text-rendering: optimizeLegibility
}
H1 {
	TEXT-ALIGN: center
}
H1 {
	FONT-WEIGHT: 100; text-rendering: optimizeLegibility
}
H2 {
	FONT-WEIGHT: 100; text-rendering: optimizeLegibility
}
H3 {
	FONT-WEIGHT: 100; text-rendering: optimizeLegibility
}
#top {
	DISPLAY: none
}
#rss {
	DISPLAY: none
}
#reference #column-2 {
	DISPLAY: none
}
#footer H3 {
	FONT-SIZE: 0.7em; TEXT-ALIGN: center
}
#reference #footer H3 {
	FONT-SIZE: 0.7em; TEXT-ALIGN: center
}
#reference H3 {
	FONT-SIZE: 2em; TEXT-ALIGN: left
}
#aside {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
A:unknown {
	content: " (" attr(href) ")"
}
P {
	MARGIN: 0px
}
P.not-prime {
	TEXT-INDENT: 1.4em
}
P.code {
	COLOR: #000; FONT-FAMILY: Consolas,Monaco,"Lucida Console",monospace
}
CODE {
	COLOR: #000; FONT-FAMILY: Consolas,Monaco,"Lucida Console",monospace
}
SAMP {
	COLOR: #000; FONT-FAMILY: Consolas,Monaco,"Lucida Console",monospace
}
CODE I {
	COLOR: #069; FONT-STYLE: normal
}
CODE I  {
	COLOR: #069; FONT-STYLE: normal
}
CODE I .d {
	COLOR: #069; FONT-STYLE: normal
}
CODE SPAN.c {
	COLOR: #999
}
CODE SPAN.c  {
	COLOR: #999
}
CODE SPAN.c .d {
	COLOR: #999
}
CODE .d {
	COLOR: #900
}
#footer {
	MARGIN-TOP: 3em
}
#column-1 DIV.sample {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: -5em 1em 1em; BORDER-LEFT: #2c53b0 99px solid; WIDTH: 99px; PADDING-TOP: 0px; HEIGHT: 99px
}
#column-1 DIV.sample DIV {
	MARGIN-LEFT: -99px
}
#column-1 DIV.sample svg {
	MARGIN-LEFT: -99px
}

}

@media Unknown    
{
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #999; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 20px Helvetica,sans-serif; COLOR: #000; PADDING-TOP: 0px; text-rendering: optimizeLegibility
}
#top {
	DISPLAY: none
}
 {
	webkit-text-size-adjust: none
}
#content {
	WIDTH: 450px
}
#header {
	WIDTH: 450px
}
#header {
	FONT-SIZE: 1.1em; BACKGROUND: #999; LINE-HEIGHT: 130px; HEIGHT: 130px; TEXT-ALIGN: right
}
H1 {
	FONT-SIZE: 1.1em; BACKGROUND: #999; LINE-HEIGHT: 130px; HEIGHT: 130px; TEXT-ALIGN: right
}
#rss {
	DISPLAY: none
}
#content {
	BACKGROUND: #eee; WIDTH: 450px
}
#content #column-1 {
	FLOAT: none; MARGIN: 0px; WIDTH: auto
}
#content #column-2 {
	BORDER-TOP: #ccc 2px solid; FLOAT: none; WIDTH: 390px
}
#aside LI {
	FONT-SIZE: 1em
}
#content #footer {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#footer #copyright {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; POSITION: relative
}
#footer #font {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px
}
#demos {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#demos A {
	DISPLAY: block; LINE-HEIGHT: 3
}

}
