#header {
	background: #7F99BE url(images/layout-browser-hd-bg.gif) repeat-x center;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

#header h1 {
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	padding: 5px 10px;
	height: 20px;
}

#bodyContent {
	display: none;
}

#menuContent {
	display: none
}