#header {
	background: #7F99BE url(images/layout-browser-hd-bg.gif) repeat-x center
		;
}

#header h1 {
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	padding: 5px 10px;
	height: 20px;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

#bodyContent {
	display: none;
}

#menuContent {
	display: none
}

.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}


.thumb-wrap{
	float: left;
	margin: 5px;
	margin-right: 0;
	padding: 5px;
	width: 220px;
}
.x-list-image{
	width: 100px;
	float: left;	
}
.x-list-text{
	width: 220px;
	float: left;	
}

.x-list-wrap{
	margin: 5px;
	padding: 5px;
	border: 1px solid '00';
	height: 100px
}

.x-list-wrap p{
	margin: 2px;	
}




.x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 5px;
	margin: 5px;
}

.x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 5px;
}
