UL.jd_menu_jdsharp {
	MARGIN-LEFT: 20px;HEIGHT: 21px;
}
UL.jd_menu_jdsharp LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}


UL.jd_menu_jdsharp A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; CURSOR: pointer; COLOR: #000000; PADDING-TOP: 6px; font-family:Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}

UL.jd_menu_jdsharp A.jd_menu_hover_menubar {
	BORDER-RIGHT: #2f63c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../images/site-menu-hover.png) repeat-x;  BORDER-LEFT: #88b5e7 1px solid; COLOR: #eeeeff
}

UL.jd_menu_jdsharp A.jd_menu_visited_menubar {
	BORDER-RIGHT: #2f63c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../images/site-menu-hover.png) repeat-x; BORDER-LEFT: #88b5e7 1px solid; COLOR: #eeeeff
}


UL.jd_menu_jdsharp UL {
	BORDER-RIGHT: #b4c4ff 1px solid; BORDER-TOP: #b4c4ff 1px solid; min-width:80px;  text-align:left; BACKGROUND: #eef6ff; BORDER-LEFT: #b4c4ff 1px solid; BORDER-BOTTOM: #b4c4ff 1px solid
}
UL.jd_menu_jdsharp UL LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 12px;font-weight:normal; COLOR: #3366cc;  BORDER-RIGHT-WIDTH: 0px
}
UL.jd_menu_jdsharp UL LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px; DISPLAY: block; MARGIN: 0px; COLOR: #3366cc;FONT-SIZE: 12px; font-weight:normal;
}

UL.jd_menu_jdsharp UL LI A.jd_menu_hover {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING: 1px;
	BACKGROUND: url(../images/site-gradient.png) repeat-x; TEXT-DECORATION: underline
}
